

    <h3>User List</h3>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.age}}</td>
                <td>
                    <button class="btn btn-warning btn-sm" (click)="onEdit(user)">Edit</button>
                    <button class="btn btn-danger btn-sm" (click)="onDelete(user.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table> 

    
