<div class="container mt-4">
    <h2>{{isEdit ?  'Edit User' : 'Add User'}}</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="m-2">
            <label>Name:</label>
            <input formControlName="name" class="form-control">
            <small class="text-danger" *ngIf="userForm.get('name')?.touched && userForm.get('name')?.hasError('required')">Name is required</small>
        </div>

        <div class="m-2">
            <label>Email:</label>
            <input formControlName="email" class="form-control">
            <small class="text-danger" *ngIf="userForm.get('email')?.touched && userForm.get('email')?.hasError('required')">Email is required</small>
            <small class="text-danger" *ngIf="userForm.get('email')?.touched && userForm.get('email')?.hasError('email')">Email is required (e.g.,xyz@gmail.com)</small>
        </div>

        <div class="m-2">
            <label>Age:</label>
            <input formControlName="age" class="form-control">
            <small class="text-danger" *ngIf="userForm.get('age')?.touched && userForm.get('age')?.hasError('required')">Age is required</small>
        </div>

        <button class="btn btn-primary" type="submit">{{isEdit ? 'Update' : 'Submit'}}</button>
        <button class="btn btn-secondary ms-2" type="button" (click)="resetForm()">Reset</button>
    </form>
</div>